// app global css in Sass form

$primary-dark: #BB690A
$grey1: #767676
$grey2: #E4E4E4
$grey3: #F7F7F7
$grey4: #545454

.primary-gradient
	background: linear-gradient(to top, $primary-dark, $primary)

.grey-gradient
	background: linear-gradient(to top, black, $grey4)